%main.container.general-main-wrap
  %h1.general-title-margin Cart
  .visible-xs
    .general-cart-item.divider-lg-bottom
      %button.close.general-cart-close{type: "button", 'aria-label': "Close"}
        %span{'aria-hidden': "true"} &times;
      .general-img-wrap-table
        %img.cart-img-shadow{src: "http://jonathantweedy.com/resources/thumbs/SmashingBook5ResponsiveWebDesign.jpg", alt: "design-book"}
      %p.general-title Android Programming for Beginners
      %table.table
        %tr
          %td
            %span.in-grey-600 Price
          %td
            %span.font-16.in-gold-500 €28.50
        %tr
          %td.vertical-middle
            %span.in-grey-600 Quantity
          %td
            .input-group
              %a.input-link{href: "#"}
                %i.fa.fa-minus.line-height-40
              %input.form-control.quantity-input{type: "text"}
              %a.input-link{href: "#"}
                %i.fa.fa-plus.line-height-40
        %tr
          %td
            %span.in-grey-600 SubTotal
          %td
            %span.font-16.in-gold-500 €32.90
    .general-cart-item.divider-lg-bottom.mb-30
      %button.close.general-cart-close{type: "button", 'aria-label': "Close"}
        %span{'aria-hidden': "true"} &times;
      .general-img-wrap-table
        %img.cart-img-shadow{src: "http://jonathantweedy.com/resources/thumbs/SmashingBook5ResponsiveWebDesign.jpg", alt: "design-book"}
      %p.general-title Android Programming for Beginners
      %table.table
        %tr
          %td
            %span.in-grey-600 Price
          %td
            %span.font-16.in-gold-500 €28.50
        %tr
          %td.vertical-middle
            %span.in-grey-600 Quantity
          %td
            .input-group
              %a.input-link{href: "#"}
                %i.fa.fa-minus.line-height-40
              %input.form-control.quantity-input{type: "text", value: "1"}
              %a.input-link{href: "#"}
                %i.fa.fa-plus.line-height-40
        %tr
          %td
            %span.in-grey-600 SubTotal
          %td
            %span.font-16.in-gold-500 €32.90
  .hidden-xs
    = form_tag(cart_update_path) do
      %table.table.table-hover
        %tr.no-hover
          %th.col-pic.pl-0
            %span.in-grey-600 Product
          %th.col-title
          %th.col-price
            %span.in-grey-600 Price
          %th.col-quantity
            %span.in-grey-600 Quantity
          %th.col-total
            %span.in-grey-600 SubTotal
          %th.col-close
        - @order_items.each do |order_item|
          %tr
            %td
              .general-img-wrap-table
                %img.cart-img-shadow.pull-left{src: "http://jonathantweedy.com/resources/thumbs/SmashingBook5ResponsiveWebDesign.jpg", alt: "design-book"}
            %td
              %p.general-title= order_item.book.title
            %td
              %span.font-16.in-gold-500= order_item.book.price
            %td
              .input-group
                -# %a.input-link.quantity-decrement{href: "#"}
                %a.input-link.quantity-decrement{data: {target: "quantities-#{order_item.book_id}"}, href: "#"}
                  %i.fa.fa-minus.line-height-40
                %input.form-control.quantity-input{type: "number", min: "1", name: "quantities[#{order_item.book_id}]", id: "quantities-#{order_item.book_id}", value: order_item.quantity}
                -# = text_field_tag("quantities[#{order_item.book.id}]", class: "form-control quantity-input", value: order_item.quantity)
                -# %a.input-link.quantity-increment{href: "#"}
                %a.input-link.quantity-increment{data: {target: "quantities-#{order_item.book_id}"}, href: "#"}
                  %i.fa.fa-plus.line-height-40
            %td
              %span.font-16.in-gold-500= order_item.book.price * order_item.quantity
            %td
              -# %button.close.general-cart-close{type: "button", 'aria-label': "Close"}
              = link_to(cart_remove_path(order_item.book.id), data: { confirm: 'Are you sure?' }, class: "close general-cart-close", method: :delete) do
                %span{'aria-hidden': "true"} &times;
      .general-order-wrap
        .row
          .col-sm-4
            .input-group.general-input-group
              %label.font-weight-light Enter Your Coupon Code
              %input.form-control.mb-30{type: "text", placeholder: "Enter Your Coupon Code "}
              %div
                %button.btn.btn-primary.mr-5.mb-15.visible-xs-inline-block Apply Coupon
                -# %button.btn.btn-primary.mb-15.res-block Update cart
                -# = link_to('Update cart', update_item_quantity_path, class: "btn btn-primary mb-15 res-block", method: :post)
                = submit_tag('Update cart', class: "btn btn-primary mb-15 res-block")
          .col-sm-8
            .res-mr-200.text-center.general-text-right
              %p.in-gold-500.font-18 Order Summary
              %table.general-summary-table.general-summary-table-right.general-text-right
                %tr
                  %td
                    %p.font-16 Subtotal:
                  %td
                    %p.font-16= number_to_currency @items_total
                %tr
                  %td
                    %p.font-16 Coupon:
                  %td
                    %p.font-16= number_to_currency @coupon
                %tr
                  %td
                    %strong.font-18 Order Total:
                  %td
                    %strong.font-18= number_to_currency @order_subtotal
          %button.btn.btn-default.mb-20.visible-xs-inline-block Checkout
  .text-center
    %span
      -# = link_to 'Checkout', checkout_index_path, class: 'btn btn-default mb-20 hidden-xs'
      = link_to 'Checkout', '/checkout/address', class: 'btn btn-default mb-20 hidden-xs'
