%main.container.general-main-wrap
  .text-center
    %h3.general-login-title Sign Up
    = render 'devise/shared/omniauth_links'
    %p.general-login-text or
  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "general-form"}) do |f|
    = devise_error_messages!
    .form-group.mb-30
      %label.control-label.font-weight-light{for: "email"} Enter Email
      = f.email_field :email, class: 'form-control', placeholder: 'Enter Email', autofocus: true
    .form-group.mb-30
      %label.control-label.font-weight-light{for: "password"} Password
      = f.password_field :password, class: 'form-control', placeholder: "Password"
    .form-group.mb-30
      %label.control-label.font-weight-light{for: "password_confirmation"} Confirm Password
      = f.password_field :password_confirmation, class: 'form-control', placeholder: "Confirm Password"
    .text-center
      = f.submit 'Sign Up', class: 'btn btn-default mb-20'
  %p.general-sign-text.text-center
    Have an Account?
    %a.in-gold-500{href: "/login"} Log In
