%main.container
  %h1.general-title-margin Checkout
  =render 'progress'
  -# = form_for @order, url: wizard_path, method: :put, class: "res-mb-100" do |f|
  = form_for @order, url: '/checkout/address', method: :post, class: "res-mb-100" do |f|
    .hidden-xs.hidden-sm
      .row
        .col-md-5
          %h3.general-subtitle Billing Address
          %p.general-info-text all fields are required
        -# .col-md-5.col-md-offset-1.shipping-hideable
        .col-md-5.col-md-offset-1.shipping-hideable{class: ('hidden' if @order.use_billing_address == 1)}
          %h3.general-subtitle Shipping Address
    .row
      .col-md-5.mb-40
        .visible-xs.visible-sm
          %h3.general-subtitle Billing Address
          %p.general-info-text all fields are required
        = render 'address_fields', f: f, type: :billing, address: @order.billing
      .col-md-5.col-md-offset-1.mb-60
        -# .shipping-hideable
        .shipping-hideable{class: ('hidden' if @order.use_billing_address == 1)}
          .visible-xs.visible-sm
            %h3.general-subtitle Shipping Address
          = render 'address_fields', f: f, type: :shipping, address: @order.shipping
        .form-group.checkbox
          %label.font-weight-light.pl-0
            = f.check_box :use_billing_address, class: "input checkbox-input", hidden: "true"
            %span.checkbox-icon
              %i.fa.fa-check
            %span.checkbox-text Use Billing Address
    .general-text-align.mb-60
      %p.in-gold-500.font-18 Order Summary
      %table.general-summary-table
        %tr
          %td
            %p.font-16 Item Total:
          %td
            %p.font-16 €117.69
        %tr
          %td
            %p.font-16 Order Total:
          %td
            %p.font-16 €117.69
      -# %button.btn.disabled.center-block.mb-20 Save and Continue
      = f.submit 'Save and continue', class: "btn btn-default center-block mb-20"
