%main.container.general-main-wrap
  %h1.general-title-margin Checkout
  = render 'progress'
  = form_for @order, url: '/checkout/delivery', method: :post, class: "res-mb-100" do |f|
    %h3.general-subtitle Shipping method
    .visible-xs
      = render 'xs_deliveries_radio'
    .hidden-xs.mb-res-50
      = render 'deliveries_radio'
    .general-text-align
      %p.in-gold-500.font-18 Order Summary
      %table.general-summary-table
        = render '/orders/delivery_totals'
    = fields_for :shipment, @order.shipment do |fields|
      = fields.hidden_field :price, value: @order.shipment.price
      = fields.hidden_field :days_min, value: @order.shipment.days_min
      = fields.hidden_field :days_max, value: @order.shipment.days_max
      = fields.hidden_field :method, value: @order.shipment.method
    = f.submit 'Save and continue', class: "btn btn-default center-block mb-20"
