%main.container.general-main-wrap
  %h1.general-title-margin Checkout
  = render 'progress'
  = form_for @order, url: '/checkout/delivery', method: :post, class: "res-mb-100" do |f|
    %h3.general-subtitle Shipping method
    .visible-xs
      = render 'xs_deliveries_radio'
    .hidden-xs.mb-res-50
      = render 'deliveries_radio'
    .general-text-align
      %p.in-gold-500.font-18 Order Summary
      %table.general-summary-table
        = render 'delivery_totals', subtotal: session[:order_subtotal],
          shipment_price: @shipment_price,
          total: session[:order_subtotal].to_f + @shipment_price
    = hidden_field_tag(:shipment_price, @shipment_price)
    = f.submit 'Save and continue', class: "btn btn-default center-block mb-20"
