.row.mb-20
  .col-sm-3
    %h3.general-subtitle Shipping Address
    = render '/orders/address_summary', address: @shipping,
      render_edit_link: render_links
  .col-sm-3
    %h3.general-subtitle Billing Address
    = render '/orders/address_summary', address: @billing,
      render_edit_link: render_links
  .col-sm-3
    %h3.general-subtitle Shipments
    %p.general-address
      = @shipment.method
      -if render_links
        %span.general-edit
          = link_to 'edit', '/checkout/delivery'
      %br
      from #{@shipment.days_min} to #{@shipment.days_max} days
  .col-sm-3
    %h3.general-subtitle Payment Information
    %p.general-address
      = @card.starred_number
      - if render_links
        %span.general-edit
          = link_to 'edit', '/checkout/payment'
      %br
      = @card.month_full_year
.general-cart-item.divider-lg.visible-xs
.visible-xs
  = render '/cart/xs_cart_items', render_inputs: false
.hidden-xs.divider-lg.pt-20
  = render '/cart/cart_items', render_inputs: false
.text-center.general-text-right
  %p.in-gold-500.font-18 Order Summary
  %table.general-summary-table.general-summary-table-right.general-text-right
    = render '/orders/delivery_totals'
