%main.container
  = link_to flash[:referrer], class: 'general-back-link' do
    %i.fa.fa-long-arrow-left.mr-15
    Back to results
  .row
    .col-sm-6
      .product-gallery
        .mb-20
          = image_tag book_image_path(@book.images[1].path), alt: @book.title,
            class: 'img-responsive', id: 'main-image'
        .images.clearfix
          - @book.images[1..-1].each do |image|
            = link_to '#', class: 'img-link',
              'data-image': book_image_path(image.path) do
              = image_tag book_image_path(image.path), alt: image.path
    .col-sm-6
      %h1.mt-res-0= @book.title
      %p.in-grey-600.small= @book.authors_full
      .row
        .col-xs-12.col-md-4
          %p.h1.in-gold-500.mt-10= number_to_currency @book.price
        = form_tag(cart_add_path, class: 'form-inline') do
          .col-xs-5.col-md-3
            .input-group.general-position
              %a.input-link.quantity-decrement{data: {target: "quantities-#{@book.id}"}, href: "#"}
                %i.fa.fa-minus.line-height-40
              = hidden_field_tag(:id, @book.id)
              %input.form-control.quantity-input{type: "number", min: "1", value: "1", name: "quantity", id: "quantities-#{@book.id}"}
            .input-group.general-position
              %a.input-link.quantity-increment{data: {target: "quantities-#{@book.id}"}, href: "#"}
                %i.fa.fa-plus.line-height-40
          .col-xs-7.col-md-5
            = submit_tag('Add to Cart', class: 'btn btn-default pull-right general-position')
      .pt-20.divider-lg
        %p Description
        %p#book-description.in-grey-600.small.line-height-2.text-justify
          = @book.description
      .pt-20.divider-lg
        .clearfix
          %p.general-item-info.pull-right= @book.year
          %p.break-word Year of publication
      .pt-20.divider-lg
        .clearfix
          %p.general-item-info.pull-right= @book.dimensions
          %p.break-word Dimensions
      .pt-20.divider-lg
        .clearfix
          %p.general-item-info.pull-right= @book.materials_string
          %p.break-word Materials
  .mb-80
    %h3.in-gold-500.mb-25= "Reviews (#{@book.reviews.length})"
    %ul.media-list
      - @book.reviews.each do |review|
        %li.media.divider-lg
          .media-left
            %a{href: "#"}
              %span.img-circle.logo-size.logo-empty.media-object= review.user.email.first.upcase
          .media-body
            %div
              %p.general-message-date.hidden-xs= l review.updated_at, format: :long_date
              %h4.media-heading.max-240.general-message-name
                %span.general-message-verified Verified Reviewer
                Rita J. Lewis
            .mb-15
              - review.score.times do
                %i.fa.fa-star.rate-star
              - (5 - review.score).times do
                %i.fa.fa-star.rate-star.rate-empty
            %p.text-justify= review.body
