%p.in-gold-500.font-18.mb-25 Password
= form_for(resource, as: resource_name, url: registration_path(resource_name),
  html: { method: :put, class: 'general-form-md pb-25' }) do |f|
  = f.hidden_field :reset_password_token
  = f.hidden_field :email, value: current_user.email
  .form-group.mb-30
    %label.control-label.font-weight-light{for: "currentPassword"} Old Password
    = f.password_field :current_password, class: 'form-control', placeholder: "Old Password"
  .form-group.mb-30
    %label.control-label.font-weight-light{for: "password"} New Password
    = f.password_field :password, class: 'form-control', placeholder: "New Password"
  .form-group.mb-40
    %label.control-label.font-weight-light{for: "confirmPassword"} Confirm Password
    = f.password_field :password_confirmation, class: 'form-control', placeholder: "Confirm Password"
  .general-text-align
    = f.submit 'Change', class: 'btn btn-default mb-10'
