%main.container
  %h1.general-title-margin Settings
  %ul.nav.nav-tabs.mb-20{role: "tablist"}
    %li.mb-10{class: ('active' unless flash[:show_privacy]), role: "presentation"}
      %a{href: "#address", 'aria-controls': "address", role: "tab", 'data-toggle': "tab"} Address
    %li.mb-10{class: ('active' if flash[:show_privacy]), role: "presentation"}
      %a{href: "#privacy", 'aria-controls': "privacy", role: "tab", 'data-toggle': "tab"} Privacy
  .tab-content
    #address.tab-pane.general-main-wrap{class: ('active fade in' unless flash[:show_privacy]), role: "tabpanel"}
      = form_for @billing, url: user_settings_update_address_path, method: :post do |f|
        .hidden-xs.hidden-sm
          .row
            .col-md-5
              %h3.general-subtitle.mt-0 Billing Address
            .col-md-5.col-md-offset-1
              %h3.general-subtitle.mt-0 Shipping Address
        .row
          .col-md-5.mb-40
            .visible-xs.visible-sm
              %h3.general-subtitle.mt-0 Billing Address
            = render '/checkout/address_fields', f: f, address: @billing,
              type: 'billing', entity: 'address'
            .text-center.general-text-align
              = submit_tag 'Save', name: 'billing', class: 'btn btn-default'
          .col-md-5.col-md-offset-1.mb-25
            .visible-xs.visible-sm
              %h3.general-subtitle.mt-0 Shipping Address
            = form_for @shipping, url: user_settings_update_address_path, method: :post do |f|
              = render '/checkout/address_fields', f: f, address: @shipping,
                type: 'shipping', entity: 'address'
            .text-center.general-text-align
              = submit_tag 'Save', name: 'shipping', class: 'btn btn-default'
    #privacy.tab-pane{class: ('active fade in' if flash[:show_privacy]), role: "tabpanel"}
      .row.mb-60
        .col-sm-5
          = render 'change_email'
        .col-sm-5.col-sm-offset-1
          = render 'change_password'
        .col-sm-12
          = render 'remove_account'
