%main.container
  %h1.general-title-margin Сatalog
  .hidden-xs.clearfix
    .pull-right
      .dropdown.width-240
        =render 'catalog_sorters'
    %ul.list-inline.pt-10.mb-25.mr-240
      - @categories.each do |category|
        %li.mr-35
          = link_to permitted.merge('category' => category.first.second, 'limit' => 12, 'sort_by' => 'created_at', 'order' => 'desc'), class: "filter-link" do
            -if current_category?(category.first.second)
              %b= capitalize_category(category.first.first)
            -else
              = capitalize_category(category.first.first)
            %span.badge.general-badge= category.second
  .mb-40.visible-xs
    %p.in-grey-600.small.mb-10 Filter by category
    .dropdown.mb-20
      %a.dropdown-toggle.dropdown-btn{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"}
        =capitalize_category(find_category(params[:category].to_i).first.first)
        %i.fa.fa-angle-down.dropdown-icon
      %ul.dropdown-menu
        -@categories.each do |category|
          %li
            =link_to capitalize_category(category.first.first), permitted.merge('category' => category.first.second)
    %p.in-grey-600.small.mb-10 Sort by
    .dropdown
      =render 'catalog_sorters'
  .mb-20
    .row
      - @books.each do |book|
        .col-xs-6.col-sm-3
          .general-thumb-wrap
            .thumbnail.general-thumbnail
              %img.img-shadow.general-thumbnail-img{src: "http://jonathantweedy.com/resources/thumbs/SmashingBook5ResponsiveWebDesign.jpg", alt: "design-book"}
              .thumb-hover
                .general-thumb-link-wrap
                  =link_to book_path(book), class: 'thumb-hover-link' do
                    %i.fa.fa-eye.thumb-icon{'aria-hidden': "true"}
                  =link_to cart_add_path(id: book.id, quantity: 1), method: :post, class: 'thumb-hover-link' do
                    %i.fa.fa-shopping-cart.thumb-icon
                  -# = form_tag(cart_add_path, class: 'form-inline') do
                    -# = hidden_field_tag(id: book.id)
                    -# = hidden_field_tag(quantity: 1)
                    -# = hidden_field_tag(price: book.price)
                    -# %div.thumb-hover-link
                      -# = submit_tag(nil) do
                        -# %i.fa.fa-shopping-cart.thumb-icon
          .general-thumb-info
            %p.pull-right.font-16.in-gold-500= book.price
            %p.general-title= truncate book.title, length: 27
            %span.divider-sm
            %p.in-grey-600.small= book.authors_short
  .text-center
    %span
      -if more_books?
        =link_to 'View more', permitted.merge('limit' => params['limit'].to_i + 12), class: 'btn btn-primary mb-60'
